{% extends "userapp/base.html" %}

{% block body %}
<body>
<header>
    {% block header %}
      {% include "userapp/header.html" %}
    {% endblock %}
</header>

<!--login modal-->

          <form class="form col-md-12 center-block">
            <div class="form-group">
              <input type="text" class="form-control input-lg" placeholder="Email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control input-lg" placeholder="Password">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Sign In</button>
              <span class="pull-right"><a href="#">Register</a></span><span><a href="#">Need help?</a></span>
            </div>
          </form>
</body>
{% endblock %}